node_modules
coverage
coverage.json
typechain
contracts.json
keys.json
.gitbook.yaml
gas-report
slither-results.json
.env
scripts

#Hardhat files
cache
cache-zk
artifacts-zk
artifacts/@1inch
artifacts/@chainlink
artifacts/@openzeppelin
artifacts/@pythnetwork
artifacts/build-info
artifacts/hardhat/*
artifacts/contracts/*/*.dbg.json
artifacts/contracts/interfaces
artifacts/contracts/mock
/typechain-types/
\.deps